/* Container holding the image and the text */
.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
