

ul.nav li {
  color: white;
  background-color: red;
}

ul.nav a {
    color: white;
}

.color-info {
  border-style: solid;
  border-width: 3px;
}

#about_blue {
  background: #6495ED;
}

#bluelist{
  color: blue;
}

#about_yellow {
  background: #FFEBCD;
}

#yellowlist {
  color: orange
}

.important {
  font-weight: bold;
  font-size: 16px;
}
.Image123{
  position: relative;
    text-align: center;
    color: black;
}
/* Container holding the image and the text */
.lalaland {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: black
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: black

}

.twocountries {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    font-size: 200
}

#layoutBody {
    background: white;
    color: #002d62;
    font-family: 'Oswald', sans-serif;
}
